*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto";
  src: url(./robots.txt);
}

html {
  font-family: "poppins", sans-serif;
  font-size: 18px;
  height: 100%;

  --bg: #fcfcfc;
}

body {
  // background-color: var(--bg);
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.std__button {
  height: fit-content;
  border: none;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: bolder !important;
  text-transform: uppercase;

  @media (max-width: 325px) {
    font-size: 14px;
    padding: 0.5rem 0.75rem;
  }
}

.display-block {
  display: block;
}

header {
  margin: 0 !important;
  //border: 1px dotted blue !important;
}

h4 {
  font-size: 1rem;
}
