/* 

*/

@use "../../styles/utils" as *;

.home__main {
  overflow: hidden;
  height: 100vh;

  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  @media (min-width: 1025px) {
    grid-template-columns: 1.75fr 4fr;
  }
}

.lists__col {
  display: none;
  width: 100%;
  background-color: #fbfbfb;

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  main {
    // border: 1px dotted blue;
    height: 90vh;
    //display: flex;
    //justify-content: center;
    //align-items: center;
  }

  @media (min-width: 36em) {
    display: block;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logout__button {
      display: none;
    }
  }
}

.lists__buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;

  @media (min-width: 36em) {
    //display: block;
    width: initial;
    column-gap: 0.5rem;
  }
}

.chat__col {
  display: none;
  width: 100%;

  header {
    display: flex;
    align-items: center;

    @media (min-width: 36em) {
      background-color: #fbfbfb;
      justify-content: space-between;
    }
  }

  .user__profile {
    display: flex;
    align-items: center;
  }

  .user__icon {
    display: none;
    background-color: #f06c00;
    line-height: 1.35;
    color: #fff;
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;

    @media (min-width: 36em) {
      display: block;
    }
  }

  .username {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #fff;

    @media (min-width: 36em) {
      display: block;
      color: #000;
    }
  }

  .back__button {
    //justify-self: flex-start;
    border: none;
    border-radius: 50%;
    background-color: transparent;
  }

  .logout__button {
    display: none;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.23);
  }

  main {
    height: 90vh;
    position: relative;
  }

  @media (min-width: 36em) {
    display: block;

    .logout__button {
      display: block;
    }
    .back__button {
      display: none;
    }
  }
}

.header {
  padding: 0 0.5rem;
  //max-height: 10vh;
  height: 10vh;
  //border: 1px dotted blue;

  @media (max-width: 325px) {
    padding: 0 0.25rem;
    height: 9vh;
  }

  @media (min-width: 768px) {
    padding: 1rem;
    height: 8vh;
  }
  @media (min-width: 1025px) {
    height: 10vh;
  }
}

main {
  position: relative;
  overflow-y: scroll;
  height: 90vh;
}

.chats__button,
.friends__button,
.logout__button {
  background-color: white;
  color: #f06c00;
}

.chats__button,
.friends__button {
  img {
    display: none;
  }

  @media (min-width: 36em) {
    padding: 0 !important;
    border-radius: 50%;
    width: fit-content;

    //max-width: 2rem;
    width: 36px !important;
    height: 36px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      padding: 0;
      width: inherit;
      height: inherit;
    }
    span {
      display: none;
    }
  }
}

.chat_text__input {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.75rem 1rem;
  background-color: #fff;

  input {
    max-width: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    border: 0.5px solid #ececec;
    outline: none;
    border-radius: 35px;
  }
}

.display__block {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 40%;
  //z-index: 3;
}
