/* 


*/

.modal__addfriend {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  margin: auto;
  padding: 1.5rem 1.5rem;
  border-radius: 25px;
  background-color: #ffffff;
  z-index: 4 !important;
  //border: 1px dotted blue;
}

.modal__header {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "poppins";
  text-align: center;
  color: #949494;
}

.modal__inputtext {
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border: none;
  border-radius: 45px;
  background-color: #fbfbfb;
  width: 100%;
  font-size: 1rem;

  @media (min-width: 36em) {
    //padding: 0.75rem 1.5rem;
  }
  @media (min-width: 768px) {
    //padding: 1rem 1.5rem;
  }
  @media (min-width: 1024px) {
    //padding: 0.75rem 1.5rem;
  }
}

.modal__actions {
  //margin-top: 1rem;
  width: 100%;
  //border: 1px dotted blue;
}

.modal__btn {
  font-size: 0.75rem;
  padding: 0.5rem 1.5rem;
  font-weight: normal;
  color: #f06c00;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.23);

  &:nth-child(1) {
    margin: 0 0.5rem;
    background-color: #f06c00;
    color: #fafafa;
  }
}
