/* 


*/

.chatlist__container {
  padding: 0 0.5rem;
}

.chat {
  display: grid;
  grid-template-columns: minmax(1rem, auto) 1fr minmax(1rem, auto);
  column-gap: 0.25rem;
  align-items: center;
  padding: 0.5rem 0;
}

.chat__preview {
  //border: 1px dotted blue;
}

.chat__name {
  color: #696969;
}

.preview__text {
  color: #696969;
  opacity: 60%;
  font-weight: lighter;
}

.chat__avatar {
  background-color: #f06c00;
  line-height: 1.35;
  color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;

  @media (min-width: 36em) {
    display: block;
  }
}
